<ion-header [translucent]="true">
  <ion-toolbar color="primary"> 
    <ion-title>
      Tareas
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        SALIR
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-title class="ion-margin-top">
    Lista de tareas incompletas
  </ion-title>
  <ion-row>
    <ion-col size="12">
      <ion-item>
        <ion-label position="floating">Nueva tarea</ion-label>
        <ion-input #input [(ngModel)]="task" type="text" (keyup.enter)="addTask()"> </ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>    
    <ion-col size="12">
      <ion-text class="ion-text-center" color="medium" *ngIf="tasks ===undefined">
        <h2>No hay tareas agregadas</h2>
      </ion-text>
      <ion-list>
        <ion-item-sliding *ngFor="let task of tasks;let i = index" >
          <ion-item *ngIf="!task.completed">
            <ion-label>{{task.task}}</ion-label>
            <ion-icon name="checkmark-done-outline" slot="end" *ngIf="task.completed"></ion-icon>    
          </ion-item>
          <ion-item-options side="end" *ngIf="!task.completed">
              <ion-item-option color="warning" (click)="completeTask(task.id)">
                <ion-icon name="checkbox-outline"></ion-icon>
              </ion-item-option>
              <ion-item-option color="danger" (click)="removeTask(task.id)">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="task" (click)="addTask()" >
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
 </ion-content>
